@import url('https://fonts.googleapis.com/css?family=Mukta');

* {
    font-family: 'Mukta', sans-serif;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

h1 {
    margin-bottom: 40px;
}

label {
    margin: 20px;
}

input {
    border: black 2px solid;
}

#age {
    width: 40px;
    margin-left: 40px;
}

#password {
    margin-left: 10px;
}

#firstname {
    width: 120px;
}

#lastname {
    width: 150px;
}

#email {
    margin-left: 30px;
    width: 270px;
}

form {
    margin-left: 50px;
}

#new-user-button {
    background: white;
    margin-left: 40px;
    padding: 5px;
    box-shadow: 4px 4px black;
}

#new-user-button:hover {
    font-size: 1.2em;
    box-shadow: 6px 6px black;
}

#new-user-button:active {
    font-size: .9em;
    box-shadow: 2px 2px black;
}

.registered {
    margin: 50px;
}